<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Añadir festival">
  <title>Añadir festival</title>
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="css/argon.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/span.css">
  
  <!-- Bootstrap-select -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <!-- Sidenav -->
  <%- include ('partials/sidebar'); -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Page content -->
    <div class="container-fluid mt-4 mb-2">
      <div class="row justify-content-center">
        <div class="col-xl-12 m-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Añadir festival</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="/addFestival" method="POST">
                <div class="pl-lg-2">
                  <% if (locals.messages && messages.success) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= messages.success %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <% if (error.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= error %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <div class="row">
                    <div class="col-lg-1 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="festival_id">Fest ID</label>
                            <input type="number" id="festival_id" class="form-control form-control-alternative form-control-sm" name="festival_id" value="<%=fest_id%>">
                        </div>
                    </div>
                    <div class="col-lg-9 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="name">Nombre*</label>
                            <input type="text" id="name" class="form-control form-control-alternative form-control-sm" name="name" placeholder="Festival Cannes" required>
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="ok">Ok*</label>
                            <select class="form-control form-control-alternative form-control-sm" id="ok" name="ok" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option class="text-white bg-success" value="y">Sí</option>
                                <option class="text-white bg-danger" value="n">No</option>
                                <option class="text-white bg-warning" value="pen">Pt</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="init_date">Fecha Inicio*</label>
                        <input type="date" id="init_date" class="form-control form-control-alternative form-control-sm datepicker" name="init_date" required>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="end_date">Fecha Fin*</label>
                        <input type="date" id="end_date" class="form-control form-control-alternative form-control-sm" name="end_date" required>
                      </div>
                    </div>
                    <div class="col-lg-1 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="edition">Edición</label>
                            <input type="number" id="edition" class="form-control form-control-alternative form-control-sm" name="edition" placeholder="10">
                        </div>
                    </div>
                    <div class="col-lg-1 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="year">Año*</label>
                            <input type="number" id="year" class="form-control form-control-alternative form-control-sm" name="year" placeholder="2020" required>
                        </div>
                    </div>
                    <div class="col-lg-3 my--2">
                        <div class="form-group">
                            <label class="form-control-label text-warning font-weight-bold" for="deadline">Deadline*</label>
                            <input type="date" id="deadline" class="form-control form-control-alternative form-control-sm" name="deadline" required>
                        </div>
                    </div>
                    <div class="col-lg-3 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="type">Tipo Deadline*</label>
                            <select  class="form-control form-control-alternative form-control-sm" id="type" name="type" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="0">Early</option>
                                <option value="1">Regular</option>
                                <option value="2">Late</option>
                                <option value="3">Extended</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-10 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="categories">Categorías*</label>
                            <select multiple class="selectpicker form-control form-control-alternative form-control-sm" id="categories" name="categories" data-actions-box="true" required>
                                <option value="Envio0">Envio0</option>
                                <option value="Envio1">Envio1</option>
                                <option value="Envio2">Envio2</option>
                                <option value="Envio4">Envio4</option>
                                <option value="EnvioFee1">EnvioFee1</option>
                                <option value="EnvioFee2">EnvioFee2</option>
                                <option value="EnvioNo">EnvioNo</option>
                                <option value="Animacion">Animación</option>
                                <option value="Discapacidad">Discapacidad</option>
                                <option value="Documental">Documental</option>
                                <option value="Escuelas">Escuelas</option>
                                <option value="Etnografico">Etnográfico</option>
                                <option value="Experimental">Experimental</option>
                                <option value="Fantastico">Fantástico</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Ficcion">Ficción </option>
                                <option value="General">General</option>
                                <option value="Infantil">Infantil</option>
                                <option value="Juvenil">Juvenil</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Terror">Terror</option>
                                <option value="Videoclips">Videoclips</option>
                                <option value="VR">VR</option>
                                <option value="desde20">desde20</option>
                                <option value="desde30">desde30</option>
                                <option value="desde40">desde40</option>
                                <option value="desde45">desde45</option>
                                <option value="desde50">desde50</option>
                                <option value="desde60">desde60</option>
                                <option value="desde70">desde70</option>
                                <option value="hasta01">hasta01 </option>
                                <option value="hasta02">hasta02</option>
                                <option value="hasta03">hasta03</option>
                                <option value="hasta05">hasta05</option>
                                <option value="hasta10">hasta10</option>
                                <option value="hasta15">hasta15</option>
                                <option value="hasta20">hasta20</option>
                                <option value="hasta25">hasta25</option>
                                <option value="hasta30">hasta30</option>
                                <option value="hasta35">hasta35</option>
                                <option value="hasta40">hasta40</option>
                                <option value="hasta45">hasta45</option>
                                <option value="hasta50">hasta50</option>
                                <option value="hasta60">hasta60</option>
                                <option value="hasta70">hasta70 </option>
                                <option value="hasta75">hasta75</option>
                                <option value="hasta90">hasta90</option>
                                <option value="Comedia">Comedia</option>
                                <option value="Danza">Danza</option>
                                <option value="DDHH">DDHH</option>
                                <option value="Deporte">Deporte</option>
                                <option value="Edad26">Edad26</option>
                                <option value="Edad30">Edad30</option>
                                <option value="Edad35">Edad35</option>
                                <option value="Edad40">Edad40 </option>
                                <option value="Internet">Internet</option>
                                <option value="LGBT">LGBT</option>
                                <option value="MedioAmbiente">MedioAmbiente</option>
                                <option value="Movil">Movil</option>
                                <option value="Mujer">Mujer</option>
                                <option value="Poesia">Poesia</option>
                                <option value="PrimeraPeli">PrimeraPeli</option>
                                <option value="SubFrances">SubFrances</option>
                                <option value="SubItaliano">SubItaliano</option>
                                <option value="TemaFemenino">TemaFemenino</option>
                                <option value="Trabajo">Trabajo</option>
                                <option value="EFA">EFA</option>
                                <option value="FIAPF">FIAPF</option>
                                <option value="Goya">Goya </option>
                                <option value="Melies">Melies</option>
                                <option value="MM">MM</option>
                                <option value="Oscars">Oscars</option>
                                <option value="IP">IP</option>
                                <option value="NP">NP</option>
                                <option value="RP">RP</option>
                                <option value="WP">WP</option>
                                <option value="Alicantino">Alicantino</option>
                                <option value="Andaluz">Andaluz</option>
                                <option value="Aragones">Aragonés</option>
                                <option value="Asturiano">Asturiano</option>
                                <option value="Canario">Canario</option>
                                <option value="Catalan">Catalán</option>
                                <option value="Extremadura">Extremadura</option>
                                <option value="Frances">Francés</option>
                                <option value="Gallego">Gallego </option>
                                <option value="Italiano">Italiano</option>
                                <option value="Latino">Latino</option>
                                <option value="Leones">Leonés</option>
                                <option value="Malagueño">Malagueño</option>
                                <option value="Murciano">Murciano</option>
                                <option value="Navarro">Navarro</option>
                                <option value="Portugues">Portugués</option>
                                <option value="Riojano">Riojano</option>
                                <option value="Valenciano">Valenciano</option>
                                <option value="Vasco">Vasco</option>
                            </select> 
                        </div>
                      </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="entryfee">EntryFee*</label>
                            <select class="form-control form-control-alternative form-control-sm" id="entryfee" name="entryfee" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="y">Sí</option>
                                <option value="n">No</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="platform">Plataforma*</label>
                            <select class="form-control form-control-alternative" id="platform" name="platform" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="filmfreeway">FilmFreeway</option>
                                <option value="festhome">Festhome</option>
                                <option value="Click">Click</option>                              
                                <option value="Director">Director</option>                              
                                <option value="DocFilmDepot">DocFilmDepot</option>                            
                                <option value="Evennial">Evennial</option>                            
                                <option value="Eventival">Eventival</option>                            
                                <option value="FilmFestivalLife">FilmFestivalLife</option>                             
                                <option value="FilmFestPlatform">FilmFestPlatform</option>
                                <option value="FilmFreewaygold">FilmFreeway Gold</option>
                                <option value="ICAA">ICAA</option>
                                <option value="Invitacion">Invitación</option>
                                <option value="KIMUAK">KIMUAK</option>
                                <option value="Movibeta">Movibeta</option>
                                <option value="Online">Online</option>
                                <option value="Reelport">Reelport</option>
                                <option value="ShortFilmDepot">ShortFilmDepot</option>
                                <option value="UpToFest">UpToFest</option>
                                <option value="Withoutabox">Withoutabox</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="fee">Tasa</label>
                            <input type="number" step="0.01" min="0.00" id="fee" class="form-control form-control-alternative" name="fee">
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="currency">Moneda*</label>
                            <select class="form-control form-control-alternative" id="currency" name="currency" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="USD">US Dollars ($)</option>
                                <option value="EUR">Euro (€)</option>
                                <option value="GBP">United Kingdom Pounds</option>
                                <option value="DZD">Algeria Dinars</option>
                                <option value="ARP">Argentina Pesos</option>
                                <option value="AUD">Australia Dollars</option>
                                <option value="BSD">Bahamas Dollars</option>
                                <option value="BBD">Barbados Dollars</option>
                                <option value="BMD">Bermuda Dollars</option>
                                <option value="BRR">Brazil Real</option>
                                <option value="BGL">Bulgaria Lev</option>
                                <option value="CAD">Canada Dollars</option>
                                <option value="CLP">Chile Pesos</option>
                                <option value="CNY">China Yuan Renmimbi</option>
                                <option value="CYP">Cyprus Pounds</option>
                                <option value="DKK">Denmark Kroner</option>
                                <option value="XCD">Eastern Caribbean Dollars</option>
                                <option value="EGP">Egypt Pounds</option>
                                <option value="FJD">Fiji Dollars</option>
                                <option value="HKD">Hong Kong Dollars</option>
                                <option value="HUF">Hungary Forint</option>
                                <option value="ISK">Iceland Krona</option>
                                <option value="INR">India Rupees</option>
                                <option value="IDR">Indonesia Rupiah</option>
                                <option value="ILS">Israel New Shekels</option>
                                <option value="JMD">Jamaica Dollars</option>
                                <option value="JPY">Japan Yen</option>
                                <option value="JOD">Jordan Dinar</option>
                                <option value="KRW">Korea (South) Won</option>
                                <option value="LBP">Lebanon Pounds</option>
                                <option value="MYR">Malaysia Ringgit</option>
                                <option value="MXP">Mexico Pesos</option>
                                <option value="NZD">New Zealand Dollars</option>
                                <option value="NOK">Norway Kroner</option>
                                <option value="PKR">Pakistan Rupees</option>
                                <option value="PHP">Philippines Pesos</option>
                                <option value="PLZ">Poland Zloty</option>
                                <option value="ROL">Romania Leu</option>
                                <option value="RUR">Russia Rubles</option>
                                <option value="SAR">Saudi Arabia Riyal</option>
                                <option value="SGD">Singapore Dollars</option>
                                <option value="ZAR">South Africa Rand</option>
                                <option value="KRW">South Korea Won</option>
                                <option value="SDD">Sudan Dinar</option>
                                <option value="CHF">Switzerland Francs</option>
                                <option value="TWD">Taiwan Dollars</option>
                                <option value="THB">Thailand Baht</option>
                                <option value="TTD">Trinidad and Tobago Dollars</option>
                                <option value="TRL">Turkey Lira</option>
                                <option value="VEB">Venezuela Bolivar</option>
                                <option value="ZMK">Zambia Kwacha</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="euros">Conversión euros</label>
                            <input type="number" step="0.01" min="0.00" id="euros" class="form-control form-control-alternative" name="euros">
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="prize">Premio en metálico*</label>
                            <select class="form-control form-control-alternative" id="prize" name="prize" required>
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="y">Sí</option>
                                <option value="n">No</option>
                            </select> 
                        </div>
                    </div>
                    <hr class="col-12">
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="waiver">Waiver</label>
                            <select class="form-control form-control-alternative form-control-sm" id="waiver" name="waiver">
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option value="y1">Sí</option>
                                <option value="n1">No</option>
                                <option value="n2">Nunca</option>
                                <option value="y2">Descuento</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="disc">Descuento</label>
                            <input type="number" step="0.1" min="0.0" id="disc" class="form-control form-control-alternative form-control-sm" name="disc">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="final">Tasa final</label>
                            <input type="number" step="0.01" min="0.00" id="final" class="form-control form-control-alternative form-control-sm" name="final"> 
                        </div>
                    </div>
                    <h2><span>CONTACTO</span></h2>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="contactname">Nombre contacto</label>
                            <input type="text" id="contactname" class="form-control form-control-alternative" name="contactname" placeholder="John" >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="contact_email">E-mail*</label>
                            <input type="email" id="contact_email" class="form-control form-control-alternative" name="contact_email" placeholder="john@gmail.com" required>
                        </div>
                    </div>
                    <div class="col-lg-6 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="programmer">Programador</label>
                            <input type="text" id="programmer" class="form-control form-control-alternative" name="programmer" placeholder="Ginna" >
                        </div>
                    </div>
                    <div class="col-lg-6 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="prog_email">E-mail programador</label>
                            <input type="email" id="prog_email" class="form-control form-control-alternative" name="prog_email" placeholder="ginna@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="contact_tel">Teléfono</label>
                            <input type="tel" id="contact_tel" class="form-control form-control-alternative" name="contact_tel">
                        </div>
                    </div>
                    <div class="col-lg-5 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="contact_web">Web*</label>
                            <input type="url" id="contact_web" class="form-control form-control-alternative" name="contact_web" required>
                        </div>
                    </div>
                    <div class="col-lg-5 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="platformurl">Web plataforma</label>
                            <input type="url" id="platformurl" class="form-control form-control-alternative" name="platformurl">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                    <div class="form-group">
                        <label class="form-control-label" for="state">Autonomía/Estado</label>
                        <input type="text" id="state" class="form-control form-control-alternative" name="state">
                    </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="contactcountry">País*</label>
                            <input type="text" id="contactcountry" list="countries" class="form-control form-control-alternative" name="contactcountry" required>
                            <datalist id="countries">
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Åland Islands</option>
                                <option value="ALB">Albania</option>
                                <option value="ALG">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AND">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="ARG">Argentina</option>
                                <option value="ARM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AUS">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BHS">Bahamas</option>
                                <option value="BHN">Bahrain</option>
                                <option value="BDH">Bangladesh</option>
                                <option value="BBS">Barbados</option>
                                <option value="BIE">Belarus</option>
                                <option value="BEL">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BTN">Bhutan</option>
                                <option value="BOL">Bolivia</option>
                                <option value="BOS">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BRA">Brazil</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BGA">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BUR">Burundi</option>
                                <option value="CAM">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="COL">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, the Democratic Republic of the</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Côte d'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DOM">Dominican Republic</option>
                                <option value="ECU">Ecuador</option>
                                <option value="EGI">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GUI">Equatorial Guinea</option>
                                <option value="ERI">Eritrea</option>
                                <option value="EST">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FIN">Finland</option>
                                <option value="FRA">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GEO">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GIB">Gibraltar</option>
                                <option value="GRE">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IRL">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="ISR">Israel</option>
                                <option value="ITA">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JAP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JOR">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KEN">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LIE">Liechtenstein</option>
                                <option value="LIT">Lithuania</option>
                                <option value="LUX">Luxembourg</option>
                                <option value="MAC">Macao</option>
                                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MEX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova, Republic of</option>
                                <option value="MON">Monaco</option>
                                <option value="MNG">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MAR">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Réunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthélemy</option>
                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin (French part)</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="SER">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten (Dutch part)</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="SS">South Sudan</option>
                                <option value="ESP">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UCR">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="UK">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VEN">Venezuela, Bolivarian Republic of</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="language">Idioma*</label>
                            <select class="form-control form-control-alternative" id="language" name="language" required>
                                <option value="eng">Inglés</option>
                                <option  value="esp">Español</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-12 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="notes">NOTAS</label>
                            <textarea name="notes" id="notes" class="form-control form-control-alternative" rows="3"></textarea>
                        </div>
                    </div>
                    <h2><span>GESTIÓN INSCRIPCIONES</span></h2>
                    <div class="col-lg-2 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="confirmed">Confirmado</label>
                            <select class="form-control form-control-alternative" id="confirmed" name="confirmed">
                                <option disabled selected value> -- Seleccionar -- </option>
                                <option class="text-white bg-success" value="y">Sí</option>
                                <option class="text-white bg-danger" value="n">No</option>
                                <option class="text-white bg-warning" value="pen">Pt</option>
                            </select> 
                        </div>
                    </div>
                    <div class="col-lg-5 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="sheet">Ficha</label>
                            <input type="text" id="sheet" class="form-control form-control-alternative" name="sheet">
                        </div>
                    </div>
                    <div class="col-lg-5 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="shortname">Nombre corto</label>
                            <input type="text" id="shortname" class="form-control form-control-alternative" name="shortname">
                        </div>
                    </div>
                    <h2><span>DIRECCIÓN DE INSCRIPCIÓN</span></h2>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="copies_header">Encabezado</label>
                            <input type="text" id="copies_header" class="form-control form-control-alternative" name="copies_header">
                        </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="copies_street">Calle</label>
                        <input type="text" id="copies_street" class="form-control form-control-alternative" name="copies_street">
                    </div>
                    </div>
                    <div class="col-lg-2 my--2">
                    <div class="form-group">
                        <label class="form-control-label" for="copies_cp">Código postal</label>
                        <input type="text" id="copies_cp" class="form-control form-control-alternative" name="copies_cp">
                    </div>
                    </div>
                    <div class="col-lg-3 my--2">
                    <div class="form-group">
                        <label class="form-control-label" for="copies_tel">Telef portada</label>
                        <input type="tel" id="copies_tel" class="form-control form-control-alternative" name="copies_tel">
                    </div>
                    </div>
                    <div class="col-lg-3 my--2">
                    <div class="form-group">
                        <label class="form-control-label" for="copies_city">Localidad</label>
                        <input type="text" id="copies_city" class="form-control form-control-alternative" name="copies_city">
                    </div>
                    </div>
                    <div class="col-lg-4 my--2">
                    <div class="form-group">
                        <label class="form-control-label" for="copies_province">Provincia/Estado</label>
                        <input type="text" id="copies_province" class="form-control form-control-alternative" name="copies_province">
                    </div>
                    </div>
                    <div class="col-lg-12 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="copies_country">País</label>
                            <input type="text" id="copies_country" list="countries" class="form-control form-control-alternative" name="copies_ country">
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-success mt-3 mb-2">Guardar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include scripts -->
  <%- include ('partials/scripts'); -%>
</body>

</html>