
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Inicio - Alto Cinema</title>
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="css/argon.min.css" rel="stylesheet">

  <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
</head>
  
<body>
  <!-- Sidenav -->
  <%- include ('partials/sidebar'); -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <%- include ('partials/navbar'); -%>
    <!-- Header -->
    <%- include ('partials/header'); -%>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Envíos a festivales</h6>
                  <h2 class="mb-0">Envíos pendientes</h2>
                </div>
                <form method="POST" action="/preinscription">
                  <div class="col text-right">
                    <button type="submit" class="btn btn-danger">Preinscripción</button>
                  </div>
                </form>
                <form method="POST" action="/duplicate">
                  <div class="col text-right">
                    <button type="submit" class="btn btn-warning">Duplicación mensual</button>
                  </div>
                </form>
                
              </div>
            </div>
            <% if (error.length > 0) { %>
              <div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <% } %>
            <div class="card-body">
              <!-- Chart -->
              <table
                  id="table"
                  data-sort-name="festival"
                  data-sort-order="desc"
                  data-search="true"
                  data-pagination="true"
                  data-locale="en-US">
                  <thead>
                    <tr>
                      <th data-field="festival" data-sortable="true">Festival</th>
                      <th data-field="film" data-sortable="true">Película</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%if (typeof preinscr !== 'undefined' && preinscr) {%>
                      <% preinscr.forEach(pre => { %>
                        <tr>
                          <th scope="row">
                            <%= pre.name %>
                          </th>
                          <td><%= pre.title %></td>
                        </tr>
                      <% }) %>
                    <% } else {%>
                    <tr>
                      <th colspan=2 scope="row" class="text-center text-danger">No hay preinscripciones en la  base de datos</th>
                    </tr>
                    <% } %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  <!-- Include scripts -->
  <%- include ('partials/scripts'); -%>
</body>
</html>

