
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <!--https://favicon.io/favicon-generator/ Monoton font-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="css/argon.min.css" rel="stylesheet">
  <!-- Bootstrap-select -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>
 

<body>
  <!-- Sidenav -->
  <%- include ('partials/sidebar'); -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Page content -->
    <div class="container-fluid mt-4">
      <div class="row justify-content-center">
        <div class="col-xl-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0"><%=title%></h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form id="addFilmForm" action="/editFilm" method="POST">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="title">Título original</label>
                        <input type="text" id="title" class="form-control form-control-alternative" name="title" placeholder="Jessica Jones" required>
                        </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="engtitle">Título en inglés</label>
                        <input type="text" id="engtitle" class="form-control form-control-alternative" name="engtitle" placeholder="Jessica Jones (Eng)" required>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="year">Año</label>
                        <input type="text" id="year" class="form-control form-control-alternative" name="year" required>
                        <% if (locals.messages && messages.errors && messages.errors.name) { %>
                          <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                        <% } %>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="productiondate">Fecha</label>
                        <input type="date" id="date" class="form-control form-control-alternative" name="date" required>
                        <% if (locals.messages && messages.errors && messages.errors.name) { %>
                          <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                        <% } %>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="color">Color</label>
                        <select  class="form-control form-control-alternative" id="color" name="color" required>
                          <option value="volvo">Color</option>
                          <option value="saab">Blanco y Negro</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="animationtechnique">Técnica de animación</label>
                        <input type="text" id="animationtechnique" class="form-control form-control-alternative" name="animationtechnique">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="originalv">Versión original</label>
                        <input type="text" id="originalv" class="form-control form-control-alternative" name="originalv">
                      </div>
                    </div>
                    <div class="col-lg-8 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="genre">Género</label>
                        <select multiple class="selectpicker form-control form-control-alternative" id="genre" name="genre" data-actions-box="true" data-style="btn-light">
                          <option value="anim">Animación</option>
                          <option value="disc">Documental</option>
                          <option value="docu">Experimental</option>
                          <option value="escu">Ficción</option>
                          <option value="etno">Videoclip</option>
                          <option value="exper">VR</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="duration">Duración</label>
                        <input type="number" id="duration" class="form-control form-control-alternative" name="duration" required>   
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="categories">Categorías</label>
                        <select multiple class="selectpicker form-control form-control-alternative" id="categories" name="categories" data-actions-box="true" data-style="btn-light" required>
                          <option value="anim">Animación</option>
                          <option value="disc">Discapacidad</option>
                          <option value="docu">Documental</option>
                          <option value="escu">Escuelas</option>
                          <option value="etno">Etnográfico</option>
                          <option value="exper">Experimental</option>
                          <option value="fantas">Fantástico</option>
                          <option value="fash">Fashion</option>
                          <option value="ficc">Ficción </option>
                          <option value="gen">General</option>
                          <option value="infan">Infantil</option>
                          <option value="juve">Juvenil</option>
                          <option value="scifi">Sci-Fi</option>
                          <option value="terr">Terror</option>
                          <option value="video">Videoclips</option>
                          <option value="VR">VR</option>
                          <option value="comed">Comedia</option>
                          <option value="danz">Danza</option>
                          <option value="DDHH">DDHH</option>
                          <option value="deport">Deporte</option>
                          <option value="edad26">Edad26</option>
                          <option value="edad30">Edad30</option>
                          <option value="edad35">Edad35</option>
                          <option value="edad40">Edad40 </option>
                          <option value="inter">Internet</option>
                          <option value="lgbt">LGBT</option>
                          <option value="medioamb">MedioAmbiente</option>
                          <option value="movil">Movil</option>
                          <option value="mujer">Mujer</option>
                          <option value="poes">Poesia</option>
                          <option value="primpeli">PrimeraPeli</option>
                          <option value="subfr">SubFrances</option>
                          <option value="subita">SubItaliano</option>
                          <option value="femen">TemaFemenino</option>
                          <option value="trabaj">Trabajo</option>
                          <option value="efa">EFA</option>
                          <option value="fiapf">FIAPF</option>
                          <option value="goya">Goya </option>
                          <option value="melie">Melies</option>
                          <option value="MM">MM</option>
                          <option value="oscar">Oscars</option>
                          <option value="ip">IP</option>
                          <option value="np">NP</option>
                          <option value="rp">RP</option>
                          <option value="wp">WP</option>
                          <option value="alic">Alicantino</option>
                          <option value="anda">Andaluz</option>
                          <option value="arag">Aragonés</option>
                          <option value="astu">Asturiano</option>
                          <option value="cana">Canario</option>
                          <option value="cata">Catalán</option>
                          <option value="extr">Extremadura</option>
                          <option value="franc">Francés</option>
                          <option value="galle">Gallego </option>
                          <option value="ita">Italiano</option>
                          <option value="latin">Latino</option>
                          <option value="leon">Leonés</option>
                          <option value="mala">Malagueño</option>
                          <option value="murc">Murciano</option>
                          <option value="nava">Navarro</option>
                          <option value="portu">Portugués</option>
                          <option value="rioj">Riojano</option>
                          <option value="valen">Valenciano</option>
                          <option value="vasc">Vasco</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="country">País</label>
                        <input type="text" id="country" class="form-control form-control-alternative" name="country" required>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="screen">Pantalla</label>
                        <input type="text" id="screen" class="form-control form-control-alternative" name="screen" required>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="shootingplace">Lugar de rodaje</label>
                        <input type="text" id="shootingplace" class="form-control form-control-alternative" name="shootingplace" required>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="catalogue">Catálogo</label>
                        <select  class="form-control form-control-alternative" id="catalogue" name="catalogue" required>
                          <option value="Alto Cinema">Alto Cinema</option>
                          <option value="Nouvelle Cinema">Nouvelle Cinema</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="sinopsis">Sinopsis en idioma original</label>
                        <textarea name="sinopsis" id="sinopsis" class="form-control form-control-alternative" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="eng_sinopsis">Sinopsis en inglés</label>
                        <textarea name="eng_sinopsis" id="eng_sinopsis" class="form-control form-control-alternative" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="materialslink">Enlace de materiales</label>
                        <input type="url" id="materialslink" class="form-control form-control-alternative" name="materialslink">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="link">Enlace copias</label>
                        <input type="url" id="link" class="form-control form-control-alternative" name="link"  >
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="originalvimeo">Vimeo original</label>
                        <input type="url" id="originalvimeo" class="form-control form-control-alternative" name="originalvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="spavimeo">Vimeo español</label>
                        <input type="url" id="spavimeo" class="form-control form-control-alternative" name="spavimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="englishvimeo">Vimeo en inglés</label>
                        <input type="url" id="englishvimeo" class="form-control form-control-alternative" name="englishvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="frenchvimeo">Vimeo en francés</label>
                        <input type="url" id="frenchvimeo" class="form-control form-control-alternative" name="frenchvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="italianvimeo">Vimeo en italiano</label>
                        <input type="url" id="italianvimeo" class="form-control form-control-alternative" name="italianvimeo">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="trailer">Trailer VO</label>
                        <input type="url" id="trailer" class="form-control form-control-alternative" name="trailer">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="trailereng">Trailer Inglés</label>
                        <input type="url" id="trailereng" class="form-control form-control-alternative" name="trailereng">
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <p class="p-3 mb-2 bg-light font-weight-bold text-center text-uppercase">Ficha Técnica</p>  
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="director">Director</label>
                          <input type="text" id="director" class="form-control form-control-alternative" name="director" required>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="script">Guión</label>
                          <input type="text" id="script" class="form-control form-control-alternative" name="script">
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="photography">Fotografía</label>
                            <input type="text" id="photography" class="form-control form-control-alternative" name="photography">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="artistic">Dirección artística</label>
                            <input type="text" id="artistic" class="form-control form-control-alternative" name="artistic">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="soundtrack">Música</label>
                            <input type="text" id="soundtrack" class="form-control form-control-alternative" name="soundtrack">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="montage">Montaje</label>
                          <input type="text" id="montage" class="form-control form-control-alternative" name="montage" required>
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="producer">Productor</label>
                          <input type="text" id="producer" class="form-control form-control-alternative" name="producer" required>
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="animation">Animación</label>
                          <input type="text" id="animation" class="form-control form-control-alternative" name="animation">
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="sound">Sonido</label>
                          <input type="text" id="sound" class="form-control form-control-alternative" name="sound">
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="interpreter">Intérpretes</label>
                          <input type="text" id="interpreter" class="form-control form-control-alternative" name="interpreter">
                      </div>
                    </div>
                    <div class="col-lg-12">
                        <p class="p-3 mb-2 bg-light font-weight-bold text-center text-uppercase">Empresa</p>  
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="copiesheader">Encabezado</label>
                            <input type="text" id="copiesheader" class="form-control form-control-alternative" name="copiesheader">
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="copiesstreet">Calle</label>
                          <input type="text" id="copiesstreet" class="form-control form-control-alternative" name="copiesstreet">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescp">Código postal</label>
                          <input type="text" id="copiescp" class="form-control form-control-alternative" name="copiescp">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiestel">Telef portada</label>
                          <input type="tel" id="copiestel" class="form-control form-control-alternative" name="copiestel">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescity">Localidad</label>
                          <input type="text" id="copiescity" class="form-control form-control-alternative" name="copiescity">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiesprovince">Provincia</label>
                          <input type="text" id="copiesprovince" class="form-control form-control-alternative" name="copiesprovince">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescountry">País</label>
                          <input type="text" id="copiescountry" class="form-control form-control-alternative" name="copiescountry">
                      </div>
                    </div> 
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-success mt-3 mb-2">Guardar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include scripts -->
  <%- include ('partials/scripts'); -%>
</body>

</html>