<!DOCTYPE html>
<html lang="es">
    <head>
        <title><%=title%></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <!-- Google Fonts -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <!-- Bootstrap core CSS -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <!-- Material Design Bootstrap -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
            rel="stylesheet"
        />

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet" />
        <!--https://favicon.io/favicon-generator/ Monoton font-->
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png" />
        <link rel="manifest" href="img/site.webmanifest" />

        <link href="/css/frontpage.css" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
    </head>
    <body class="nouvelle">
        <%- include('partials/top-navbar', {active: "nouvelle"}); %>
        <div class="content container">
            <!-- Container -->
            <div class="row animate__animated animate__zoomIn">
                <div class="col-12 d-flex center align-items-center justify-content-center m-3">
                    <h3 class="mb-0 text-light"><%=title%></h3>
                </div>
            </div>
            <div class="row animate__animated animate__zoomIn">
                <div class="col-6 d-flex center align-items-center justify-content-center m-3">
                    <div class="view">
                        <img src="<%=film.picture%>" class="card-img-top contain" alt="" />
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <div class="col-6 d-flex center align-items-center justify-content-center m-3">
                    <ul class="list-group list-group-flush text-light">
                        <li class="list-group-item bg-transparent">Year: <%=film.year%></li>
                        <li class="list-group-item bg-transparent">Country: <%=film.country%></li>
                        <li class="list-group-item bg-transparent">Genre: <%=film.genre%></li>
                        <li class="list-group-item bg-transparent">Sinopsis: <%=film.sinopsis%></li>
                    </ul>
                </div>
            </div>
            <!-- Container -->
        </div>
        <%- include('partials/footer'); -%>
        <!-- JQuery -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        ></script>
        <!-- Bootstrap tooltips -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        ></script>
        <!-- Bootstrap core JavaScript -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
        ></script>
        <!-- MDB core JavaScript -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
        ></script>
    </body>
</html>
